body {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background: #2B495A;
    color: #D1B5B5;

}

.pageTitle {
    font-size: 32pt;
    line-height: 20%;
}

.pageTitle img {
    width: 100px;    
}

.data {}

.title {
    margin: 50px 0 50px 0;
}

.labelsInputs {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.field {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.field input {
    align-self: center;
    width: 25%;
    margin-top: 5px;
}

form input {
    margin-top: 7%;    
    margin-bottom: 2%;
}

.results {}

.resultsTable {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    border: 1px solid #DDD;
    padding: 8px;
}

.tableTop {
    border-style: none solid solid none;
    padding: 0 40px 30px 40px;
}

.tableLeft {
    border-style: none;
}

.tableBegin {
    border-style: solid solid solid none;
}

.tableEnd {
    border-style: none none solid solid;
}

#pidealLeft {
    border-style: solid none solid none;
}

.tableInput {
    width: 90px;
}
